<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bs.gy.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.bs.gy.bean.User">
    <id column="ids" jdbcType="INTEGER" property="ids" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="infoid" jdbcType="INTEGER" property="infoid" />
    <result column="headimg" jdbcType="VARCHAR" property="headimg" />
    <result column="registertime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="extra1" jdbcType="VARCHAR" property="extra1" />
    <result column="extra2" jdbcType="VARCHAR" property="extra2" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
    <result column="subject" jdbcType="INTEGER" property="subject" />
  </resultMap>
  <sql id="Base_Column_List">
    ids, username, nickname, password, infoid, headimg, registertime, extra1, extra2, 
    token, phone, subject
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wh_user
    where ids = #{ids,jdbcType=INTEGER}
  </select>
  <select id="selectList" parameterType="Map" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from wh_user
    <where>
    <if test="username != null">
        username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="registertime != null">
        and DATE_FORMAT(registertime,"%Y-%m-%d") = registertime
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=INTEGER}
      </if>
      <if test="subject != null">
        and subject = #{subject,jdbcType=INTEGER}
      </if>
    </where>
    limit #{offset}, #{limit}
  </select>
  <select id="selectCount" parameterType="Map" resultType="int">
  	select 
    count(1)
    from wh_user
    <where>
    <if test="username != null">
        username = #{username,jdbcType=VARCHAR}
      </if>
      <if test="registertime != null">
        and DATE_FORMAT(registertime,"%Y-%m-%d") = registertime
      </if>
      <if test="phone != null">
        and phone = #{phone,jdbcType=INTEGER}
      </if>
      <if test="subject != null">
        and subject = #{subject,jdbcType=INTEGER}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wh_user
    where ids = #{ids,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bs.gy.bean.User">
    insert into wh_user (ids, username, nickname, 
      password, infoid, headimg, 
      registertime, extra1, extra2, 
      token, phone, subject
      )
    values (#{ids,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{infoid,jdbcType=INTEGER}, #{headimg,jdbcType=VARCHAR}, 
      #{registertime,jdbcType=TIMESTAMP}, #{extra1,jdbcType=VARCHAR}, #{extra2,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, #{subject,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bs.gy.bean.User">
    insert into wh_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ids != null">
        ids,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="infoid != null">
        infoid,
      </if>
      <if test="headimg != null">
        headimg,
      </if>
      <if test="registertime != null">
        registertime,
      </if>
      <if test="extra1 != null">
        extra1,
      </if>
      <if test="extra2 != null">
        extra2,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="subject != null">
        subject,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ids != null">
        #{ids,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="infoid != null">
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="headimg != null">
        #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="extra1 != null">
        #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bs.gy.bean.User">
    update wh_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="infoid != null">
        infoid = #{infoid,jdbcType=INTEGER},
      </if>
      <if test="headimg != null">
        headimg = #{headimg,jdbcType=VARCHAR},
      </if>
      <if test="registertime != null">
        registertime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="extra1 != null">
        extra1 = #{extra1,jdbcType=VARCHAR},
      </if>
      <if test="extra2 != null">
        extra2 = #{extra2,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=INTEGER},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=INTEGER},
      </if>
    </set>
    where ids = #{ids,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bs.gy.bean.User">
    update wh_user
    set username = #{username,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      infoid = #{infoid,jdbcType=INTEGER},
      headimg = #{headimg,jdbcType=VARCHAR},
      registertime = #{registertime,jdbcType=TIMESTAMP},
      extra1 = #{extra1,jdbcType=VARCHAR},
      extra2 = #{extra2,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      subject = #{subject,jdbcType=INTEGER}
    where ids = #{ids,jdbcType=INTEGER}
  </update>
</mapper>